<p>imgdescname-contactdealer works!</p>
<!--car Display-->

<div class="container py-5">
    <div class="row">
      <!-- Product Card -->
      <div class="col-md-4 mb-4">
        <div class="card">
          <div class="card-img-container">
            <img src="../images/car/car 1.jpeg" alt="Chicken" class="card-img-top">
          </div>
          <div class="card-body">
            <h5 class="card-title">Car</h5>
            <p class="description">Easy to drive</p>
            <p class="price">₹1000</p>
          </div>
          <button class="btn btn-warning btn-full-width">
            <i class="fa fa-phone"></i> Contact Us
          </button>
        </div>
      </div>

      <div class="col-md-4 mb-4">
        <div class="card">
          <div class="card-img-container">
            <img src="../images/car/car 2.jpeg" alt="Chicken" class="card-img-top">
          </div>
          <div class="card-body">
            <h5 class="card-title">Car</h5>
            <p class="description">Easy to drive</p>
            <p class="price">₹1000</p>
          </div>
          <button class="btn btn-warning btn-full-width">
            <i class="fa fa-phone"></i> Contact Us
          </button>
        </div>
      </div>


      <div class="col-md-4 mb-4">
        <div class="card">
          <div class="card-img-container">
            <img src="../images/car/car 3.jpeg" alt="Chicken" class="card-img-top">
          </div>
          <div class="card-body">
            <h5 class="card-title">Car</h5>
            <p class="description">Easy to drive</p>
            <p class="price">₹1000</p>
          </div>
          <button class="btn btn-warning btn-full-width">
            <i class="fa fa-phone"></i> Contact Us
          </button>
        </div>
      </div>


      <div class="col-md-4 mb-4">
        <div class="card">
          <div class="card-img-container">
            <img src="../images/car/car 4.jpeg" alt="Chicken" class="card-img-top">
          </div>
          <div class="card-body">
            <h5 class="card-title">Car</h5>
            <p class="description">Easy to drive</p>
            <p class="price">₹1000</p>
          </div>
          <button class="btn btn-warning btn-full-width">
            <i class="fa fa-phone"></i> Contact Us
          </button>
        </div>
      </div>


      <!-- Additional Product Cards -->
      <div class="col-md-4 mb-4">
        <div class="card">
          <div class="card-img-container">
            <img src="../images/car/car 5.jpeg" alt="Laptop" class="card-img-top">
          </div>
          <div class="card-body">
            <h5 class="card-title">Car</h5>
            <p class="description">Easy to drive</p>
            <p class="price">₹1200</p>
          </div>
          <button class="btn btn-warning btn-full-width">
            <i class="fa fa-phone"></i> Contact Us
          </button>
        </div>
      </div>

      <div class="col-md-4 mb-4">
        <div class="card">
          <div class="card-img-container">
            <img src="../images/car/car 6.jpeg" alt="Bread" class="card-img-top">
          </div>
          <div class="card-body">
            <h5 class="card-title">Car</h5>
            <p class="description">Easy to drive</p>
            <p class="price">₹200</p>
          </div>
          <button class="btn btn-warning btn-full-width">
            <i class="fa fa-phone"></i> Contact Us
          </button>
        </div>
      </div>
    </div>
  </div>