<p>spare-part works!</p>
<p>imgdescname-contactdealer works!</p>
<!--car Display-->

<div class="container py-5">
    <div class="row">
      <!-- Product Card -->
      <div class="col-md-4 mb-4">
        <div class="card">
          <div class="card-img-container">
            <img src="../images/spareparts/sparepart1.jpeg" alt="Chicken" class="card-img-top">
          </div>
          <div class="card-body">
            <h5 class="card-title">Tire</h5>
            <p class="description">Tire spare parts</p>
            <p class="price">₹1000</p>
          </div>
          <button class="btn btn-primary btn-full-width">
            <i class="fa fa-phone"></i> Contact Us
          </button>
        </div>
      </div>

      <div class="col-md-4 mb-4">
        <div class="card">
          <div class="card-img-container">
            <img src="../images/spareparts/sparepart2.jpeg" alt="Chicken" class="card-img-top">
          </div>
          <div class="card-body">
            <h5 class="card-title">Tire</h5>
            <p class="description">Tire spare part</p>
            <p class="price">₹1000</p>
          </div>
          <button class="btn btn-primary btn-full-width">
            <i class="fa fa-phone"></i> Contact Us
          </button>
        </div>
      </div>


      <div class="col-md-4 mb-4">
        <div class="card">
          <div class="card-img-container">
            <img src="../images/spareparts/sparepart3.jpeg" alt="Chicken" class="card-img-top">
          </div>
          <div class="card-body">
            <h5 class="card-title">Tire</h5>
            <p class="description">Tire spare part</p>
            <p class="price">₹1000</p>
          </div>
          <button class="btn btn-primary btn-full-width">
            <i class="fa fa-phone"></i> Contact Us
          </button>
        </div>
      </div>
      <!-- Additional Product Cards -->

   
    </div>
  </div>