<app-sidebar-header></app-sidebar-header>
<div class="main-content">
  <app-shoes></app-shoes>
  <router-outlet></router-outlet>
</div>
  <!-- <nav>
    <ul>
      <li><a routerLink="/sidebar-header">Sidebar Header</a></li>
      <li><a routerLink="/fullscreen-header">Fullscreen Header</a></li>
      <li><a routerLink="/sideright-header">Sideright Header</a></li>
      <li><a routerLink="/large-footers">Large Footers</a></li>
      <li><a routerLink="/small-footers">Small Footers</a></li>
      <li><a routerLink="/grid-amountname">Grid Amountname</a></li>
      <li><a routerLink="/grid-imageamtname">Grid Imageamtname</a></li>
      <li><a routerLink="/nameof-productinimage">Name of Product in Image</a></li>
      <li><a routerLink="/nameup-imageamtbelow">Name Up Image Amount Below</a></li>
      <li><a routerLink="/image-starreviewname">Image Star Review Name</a></li>
      <li><a routerLink="/buynow-name-desc">Buy Now Name Desc</a></li>
      <li><a routerLink="/cartbuy-name">Cart Buy Name</a></li>
      <li><a routerLink="/cartbuy-star">Cart Buy Star</a></li>
      <li><a routerLink="/cartbuy-namedesc">Cart Buy Name Desc</a></li>
      <li><a routerLink="/imgdescname-contactdealer">Image Desc Name Contact Dealer</a></li>
      <li><a routerLink="/shoes">Shoes</a></li>
      <li><a routerLink="/clothes">Clothes</a></li>
      <li><a routerLink="/property">Property</a></li>
      <li><a routerLink="/furniture">Furniture</a></li>
      <li><a routerLink="/spare-part">Spare Part</a></li>
      <li><a routerLink="/native">Native</a></li>
      <li><a routerLink="/product-details-horizontal">Product Details Horizontal</a></li>
      <li><a routerLink="/product-details-vertical">Product Details Vertical</a></li>
      <li><a routerLink="/product-details">Product Details</a></li>
    </ul>
  </nav> -->

<!-- 
<br><br> -->

<!-- <app-shoes></app-shoes> -->
<!-- <div class="container"> -->
<!-- app-shoes -->

<!-- <app-fullscreen-header></app-fullscreen-header>
<div class="container">
 
</div> -->

<!-- <br>

<app-sideright-header></app-sideright-header>


<div class="main-content">
  <router-outlet></router-outlet>
</div> -->

<!-- <br>
<app-grid-amountname></app-grid-amountname>

<br> -->
<!-- grid for nameof-product image-->
<!-- <app-nameof-productinimage></app-nameof-productinimage>

<br> -->
<!-- grid for nameup-image amt below -->
<!-- <app-nameup-imageamtbelow></app-nameup-imageamtbelow> -->


<!-- <br> -->
<!-- grid for nameup-image amt below -->
<!-- <app-imgdescname-contactdealer></app-imgdescname-contactdealer> -->

<!-- <br> -->
<!-- grid for nameup-image amt below -->
<!-- <app-image-starreviewname></app-image-starreviewname>

<br> -->
<!-- grid for nameup-image amt below -->
<!-- <app-grid-imageamtname></app-grid-imageamtname> -->
<!-- 
<br> -->
<!-- grid for nameup-image amt below -->
<!-- <app-property></app-property> -->

<!-- <br> -->
<!-- grid for nameup-image amt below -->
<!-- <app-spare-part></app-spare-part>

<br> -->
<!-- grid for nameup-image amt below -->
<!-- <app-furniture></app-furniture>

<br> -->
<!-- grid for nameup-image amt below -->
<!-- <app-native></app-native>


<br> -->
<!-- grid for product-details-horinzontal below -->
<!-- <app-product-details-horizontal></app-product-details-horizontal>


<br> -->
<!-- grid for product-details-vertical below -->
<!-- <app-product-details-vertical></app-product-details-vertical>

<br> -->
<!-- grid for product-details below -->
<!-- <app-product-details></app-product-details> -->

<br> 
<!---grid for product-details below -->
<app-buynow-name-desc></app-buynow-name-desc>

<br> 
<!---grid for product-details below -->
<app-cartbuy-name></app-cartbuy-name>

<br> 
<!---grid for product-details below -->
<app-cartbuy-namedesc></app-cartbuy-namedesc>

<!---grid for product-details below -->
<app-cartbuy-star></app-cartbuy-star>

<br> 
<!---grid for product-details below -->
<!-- hhhhhhhhhhhhhh -->
