<p>grid-imageamtname works!</p>
<!--Cream display Display-->

<div class="container py-5">
    <div class="row">
      <!-- Product Card -->
      <div class="col-md-4 mb-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title text-center">Skin Tint SPF 40</h5>
            <p class=" text-center">It delivers light and potent skincare</p>
            <div class="card-img-container">
              <img src="../images/cream/cream 1.jpeg" alt="Product Image" class="card-img-top">
            </div>
            <div class="d-flex justify-content-between">
              <h5 class="card-title mb-0">Cream</h5>
              <p class="price mb-0">₹1000</p>
            </div>
          </div>
          <button class="btn btn-primary w-100">Add to Cart</button>
        </div>
      </div>

      <div class="col-md-4 mb-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title text-center">Skill cream</h5>
            <p class=" text-center">It delivers light and potent skincare</p>
            <div class="card-img-container">
              <img src="../images/cream/cream 2.jpeg" alt="Product Image" class="card-img-top">
            </div>
            <div class="d-flex justify-content-between">
              <h5 class="card-title mb-0">Cream</h5>
              <p class="price mb-0">₹1000</p>
            </div>
          </div>
          <button class="btn btn-primary w-100">Add to Cart</button>
        </div>
      </div>
  

      <div class="col-md-4 mb-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title text-center">Skin Tint SPF 40</h5>
            <p class=" text-center">It delivers light and potent skincare</p>
            <div class="card-img-container">
              <img src="../images/cream/cream 3.jpeg" alt="Product Image" class="card-img-top">
            </div>
            <div class="d-flex justify-content-between">
              <h5 class="card-title mb-0">Cream</h5>
              <p class="price mb-0">₹1000</p>
            </div>
          </div>
          <button class="btn btn-primary w-100">Add to Cart</button>
        </div>
      </div>

      <!-- Repeat similar cards -->
   

    </div>
  </div>
  