.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
    padding: 20px;
  }

  .card:hover {
    transform: scale(1.05);
  }

  .card-body {
    padding-top: 10px;
  }

  .card-img-container {
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .card-img-top {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }

  .card-title {
    margin-bottom: 10px; /* Space between the name and the image */
    font-weight: bold;
    font-size: 1rem;
  }

  .price {
    font-weight: bold;
    /* color: #fffb00; */
    color: #007bff;
    margin-top: 0px; /* Space between the image and the price */
  }

  .btn {
    margin-top: 10px;
  }